/* Configurações site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff93;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #ff0000c6;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header .container-header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 160px;
}

header .menu-mobile i {
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.itens-menu-mobile {
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: visibility 0s, opacity 0.3s;
    z-index: 9;
    overflow: hidden;
}

.container-menu-mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

.itens-menu-mobile.show-menu {
    visibility: visible;
    opacity: 1;
}

.itens-menu-open {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-mobile {
    width: max-content;
}

.itens-menu-mobile nav ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
}

.itens-menu-mobile nav ul a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.itens-menu-mobile nav ul i {
    color: #ff0000;
}

.login-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.login-mobile a {
    width: 50%;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 8px;
    text-transform: capitalize;
}

.login-mobile a:nth-child(2) {
    color: #ff0000;
    width: max-content;
    border: 2px solid #ff0000;
}

.login-mobile a:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ff0000;
    color: #fff;
    width: min-content;
}

.login-mobile a i {
    font-size: 16px;
}

.sair-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sair-menu h3 {
    font-size: 25px;
}

.sair-menu i {
    cursor: pointer;
    font-size: 30px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-menu-mobile {
    display: flex;
    justify-content: center;
}

.logo-menu-mobile img {
    width: 200px;
}

.download-app-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icones-lojas-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.icones-lojas-menu img {
    width: 150px;
}

.menu-desktop {
    display: none;
}

.nav-header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    text-transform: capitalize;
    font-size: 17px;
}

.nav-header nav ul a {
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;
}

.nav-header nav a:nth-child(5) {
    border: 3px solid #ff0000;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-header nav a:nth-child(5):hover {
    color: #ff0000;
}

.nav-header nav a:hover {
    border-bottom: 3px solid #ff0000;
}

.nav-header a {
    color: #fff;
}

.user-area {
    display: none;
    gap: 10px;
}

.user-area a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.user-area a:nth-child(1) {
    background-color: #ff0000;
}
.user-area a:nth-child(2) {
    background-color: #ffffff;
    color: #000;
}

.user-area a:nth-child(1):hover {
    background-color: #c90000f6;
}

.user-area a:nth-child(2):hover {
    background-color: #aaaaaa;
}

/* Main */

.banner-mobile,
.banner-desktop,
.banner-tablet {
    width: 100vw;
    z-index: -9;
}

.banner-mobile img,
.banner-desktop img,
.banner-tablet img {
    object-fit: cover;
    width: 100%;
    max-height: 800px;
}

.banner-desktop,
.banner-tablet {
    display: none;
}

.container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 35px;
    font-size: 1.2rem;
    z-index: -1;
}

.titulo h2:nth-child(2) {
    position: absolute;
    font-size: 2.8rem;
    color: #ff000044;
    z-index: -1;
}

.atv h2:nth-child(2) {
    top: -12px;
    left: -45px;
}

.atividades {
    width: 90vw;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 10px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.card {
    scroll-snap-align: start;
    border-radius: 20px;
    min-height: 300px;
    min-width: 180px;
    background-color: #000;
    margin-bottom: 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center center;
    transition: all .3s ease-in-out;

}

.sombra {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent, transparent);
}

.card h3 {
    position: absolute;
    text-transform: uppercase;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    text-align: center;
    color: white;
    font-size: 20px;
    transition: all .3s ease-in-out;
    line-height: 25px;
    z-index: 2;
}
.carrousel:hover :not(:hover) img,
.carrousel:hover :not(:hover) h3{
    opacity: 0.7;
    filter: saturate(0%);
}

.pln h2:nth-child(2) {
    top: -12px;
    left: -30px;
}

.planos-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1000px;
    height: min-content;
    padding: 40px 0;
    background-color: #000;
}

.borda-superior-direita {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-top: 120px solid rgb(255, 255, 255);
}

.borda-inferior-esquerda {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 120px solid transparent;
    border-bottom: 120px solid rgb(255, 255, 255);
}

.planos {
    display: flex;
    width: 250px;
    height: 360px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 30px;
}

.anual {
    border: 3px solid #ff0000;
}

.planos h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    margin-bottom: -20px;
}

.planos h3 span {
    color: #ff0000;
}

.item-plano {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.item-plano i {
    font-size: 25px;
}

.item-plano p {
    text-transform: uppercase;
    line-height: 20px;
}

.btn-planos a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 20px;
    background-color: #ff0000;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-planos a:hover {
    background-color: #b00101;
}

.btn-planos a span {
    color: #fff;
    font-size: 10px;
}

.aplicativo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    background-color: #000000;
    gap: 20px;
}

.aplicativo h3 {
    line-height: 26px;
}

.left-app {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    color: #ffffff;
}

.app-info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.app-info p {
    margin-left: 30px;
    font-size: 1.2rem;
}

.info-app h3 {
    text-transform: uppercase;
}

.download-app {
    display: flex;
    align-items: center;
    gap: 50px;
}

.qrcode-app img {
    width: 180px;
    border-radius: 5px;
}

.lojas {
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

.lojas img {
    display: flex;
    flex-direction: column;
    width: 180px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.lojas img:hover {
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.right-app img {
    width: 350px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #000;
    max-height: min-content;
    margin: 40px 0 0 0;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
}

.logo-footer img {
    width: 300px;
    height: 100%;
}

.logo-footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-bottom: 2px solid #fff;
}

.itens-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 30px;
    padding: 30px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.left-footer span {
    text-transform: uppercase;
}

.left-footer h3 {
    color: #ff0000;
    font-size: 23px;
    margin-bottom: 15px;
}

.left-footer p {
    margin-bottom: 8px;
    font-size: 13px;
}

.left-footer p:last-child {
    margin-bottom: 0px;
}

.top-left-footer {
    display: flex;
    gap: 30px;
}

.bar-vertical {
    width: 2px;
    height: 150px;
    background-color: #fff;
}

.icones-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icones-sociais img {
    width: 40px;
}

.right-footer {
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
} 

.form-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-footer h3 {
    text-transform: uppercase;
    width: 300px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.form-footer form fieldset{
    display: flex;
    gap: 8px;
    flex-direction: column;
    border: none;
}

.form-footer input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
}

.form-footer input::placeholder {
    color: gray;
    font-size: 12px;
}

.form-footer button {
    border: none;
    background-color: #ff0000;
    color: #fff;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.form-footer button:hover {
    background-color: #b00101;
}

.avisos-footer {
    font-size: 13px;
    padding: 5px;
    text-align: center;
    width: 100vw;
    height: 30px;
    background-color: #ffffff;
}

.avisos-footer p, .avisos-footer a {
    color: #000000;
}

.avisos-footer a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

footer form {
    width: 100%;
}


/* Medias */

@media (min-width: 1100px) {
    .menu-mobile {
        display: none;
    }
    .menu-desktop,
    .user-area {
        display: flex;
    }
    
    .titulo {
        padding-bottom: 35px;
        font-size: 1.5rem;
    }
    
    .atv h2:nth-child(2) {
        font-size: 4.6rem;
        top: -30px;
        left: -100px;
    }

    .pln h2:nth-child(2) {
        font-size: 4.6rem;
        top: -30px;
        left: -70px;
    }
    
}

@media (max-width: 1100px) {
    .planos-container {
        width: 800px;
    }
    .right-app img {
        width: 300px;
    }
    .itens-footer {
        flex-direction: column-reverse;
    }
    .avisos-footer span{
        display: none;
    }
}

@media (min-width: 901px) {
    .banner-desktop {
        display: block;
    }

    .banner-tablet,
    .banner-mobile {
        display: none;
    }
}

@media (max-width: 850px) {
    .planos-container {
        flex-direction: column;
        width: 100vw;
    }

    .borda-inferior-esquerda,
    .borda-superior-direita {
        display: none;
    }
   
}

@media (max-width: 800px) {
    .right-app img {
        display: none;
    }
    .aplicativo {
        background-color: #fff;
    }
    .left-app {
        color: #000;
    }
    .lojas {
        gap: 0;
    }
}

@media (max-width: 650px) {
    .top-left-footer {
        flex-direction: column;
    }
    .bar-vertical {
        display: none;
    }

}

@media (max-width: 500px) {
    .aplicativo {
        height: min-content;
    }

    .aplicativo h3 {
        font-size: 1.5rem;
    }
    .download-app {
    flex-direction: column;
    gap: 15px;
    }
}

 @media (min-width: 451px) and (max-width: 900px) {
    .banner-tablet {
        display: block;
    }
    .banner-mobile,
    .banner-desktop {
        display: none;
    }
 }

@media (max-width: 450px) {
    .banner-mobile {
        display: block;
    }

    .banner-tablet,
    .banner-desktop {
        display: none;
    }

    .logo-footer {
        border: 0;
        padding: 20px 0 0 0;
    }
    .logo-footer img {
        width: 200px;
    }

    .form-footer h3 {
        width: 200px;
    }
    .right-footer {
        padding: 15px;
    }
}
