/* Configurações site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff93;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #ff0000c6;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
}

header .container-header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 160px;
}

header .menu-mobile i {
    color: #fff;
    font-size: 30px;
}

.itens-menu-mobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

.itens-menu-open {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-mobile {
    width: max-content;
}

.itens-menu-mobile nav ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
}

.itens-menu-mobile nav ul a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.itens-menu-mobile nav ul i {
    color: #ff0000;
}

.login-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.login-mobile a {
    width: 50%;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 8px;
    text-transform: capitalize;
}

.login-mobile a:nth-child(2) {
    color: #ff0000;
    width: max-content;
    border: 2px solid #ff0000;
}

.login-mobile a:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ff0000;
    color: #fff;
    width: min-content;
}

.login-mobile a i {
    font-size: 16px;
}

.sair-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sair-menu h3 {
    font-size: 25px;
}

.sair-menu i {
    font-size: 30px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-menu-mobile {
    display: flex;
    justify-content: center;
}

.logo-menu-mobile img {
    width: 200px;
}

.download-app-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icones-lojas-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.icones-lojas-menu img {
    width: 150px;
}

.menu-desktop {
    display: none;
}

.nav-header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    text-transform: capitalize;
    font-size: 17px;
}

.nav-header nav ul a {
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;
}

.nav-header nav a:nth-child(6) {
    border: 3px solid #ff0000;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-header nav a:nth-child(6):hover {
    color: #ff0000;
}

.nav-header nav a:hover {
    border-bottom: 3px solid #ff0000;
}

.nav-header a {
    color: #fff;
}

.user-area {
    display: none;
    gap: 10px;
}

.user-area a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.user-area a:nth-child(1) {
    background-color: #ff0000;
}

.user-area a:nth-child(2) {
    color: #000;
    background-color: #ffffff;
}

.user-area a:nth-child(1):hover {
    background-color: #c90000f6;
}

.user-area a:nth-child(2):hover {
    background-color: #aaaaaa;
}

/* Main */

.banner-mobile,
.banner-desktop,
.banner-tablet {
    width: 100vw;
    height: min-content;
    z-index: -9;
}

.banner-mobile img,
.banner-desktop img,
.banner-tablet img {
    object-fit: cover;
    width: 100%;
}

.banner-desktop,
.banner-tablet {
    display: none;
}

/* Medias */

@media (min-width: 1100px) {
    .menu-mobile {
        display: none;
    }
    .menu-desktop,
    .user-area {
        display: flex;
    }
}

@media (max-width: 450px) {
    .banner-mobile {
        display: block;
    }

    .banner-tablet,
    .banner-desktop {
        display: none;
    }
}

 @media (min-width: 451px) and (max-width: 900px) {
    .banner-tablet {
        display: block;
    }
    .banner-mobile,
    .banner-desktop {
        display: none;
    }
}

@media (min-width: 901px) {
    .banner-desktop {
        display: block;
    }

    .banner-tablet,
    .banner-mobile {
        display: none;
    }
}